<h1>Your Profile of Books</h1>

<% @allBooks.each do |book| %>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div class="book-title">
                    <%= link_to book.title, book_path(book)%>
                    </div>
                    <div class="book-body">
                        <h6>Author: <%= book.author%></h6>
                        <h6>Genre: <%= book.genre%></h6>
                        <%= truncate(book.description, length:100)%>
                    </div>
                    <div class="book-actions">
                        <%= link_to "Edit Book", edit_book_path(book), class: "btn btn-xs btn-primary" %>
                        <%= link_to "Delete Book", book_path(book), method: :delete, data: {confirm: "Are you sure?"}, 
                                            class: "btn btn-xs btn-danger"%>
                </div>
            </div>
        </div>
    </div>
<%end%>
