<h2 align="center">Title: <%= @book.title %> </h2>

<div class="well col-xs-8 col-xs-offset-2">
    <p>Author: <%= @book.author %> </p>
    <p>Genre: <%= @book.genre %> </p>
    <hr>
     <%= simple_format(@book.description) %>
     <div class="book-actions">
        <%= link_to "Edit Book", edit_book_path(@book), class: "btn btn-xs btn-primary" %>
        <%= link_to "Delete Book", book_path(@book), method: :delete, data: {confirm: "Are you sure?"}, 
                class: "btn btn-xs btn-danger"%>
        <%= link_to 'View Your Books', books_path, class: "btn btn-xs btn-success" %>
     </div>
</div>



